* { /* CSS Reset */
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../img/fundo2.jpg");
  /* background-color: black; */
  background-size: 100vw 100vh;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  font-size: 14px;
}

/* Se a tela tiver pelo menos 400px (que seria um breakpoint para o site mudar o tamanho ou organização das coisas), vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 22px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  /* background-color: aqua; */
  display: block;
  padding: 10px 15px 10px 15px;
  transition: background-color 200ms, color 200ms;
}

#botao-home {
  padding-left: 0;
  padding-right: 0;
}

.menu a:hover {
  background-color: teal;
  color: whitesmoke;
}

a {
  color: teal;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

/* .titulo {
  transform: scale(0.3) translateY(50vh);
  opacity: .5;
  animation: .2s linear 1s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

} */

.site-title,
.site-subtitle {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-family: 'VT323', monospace;
  font-size: 3em;
}

.site-subtitle {
  font-family: 'Roboto', sans-serif;
}

/* .site-subtitle:after {
  content: "<br>👽";
  font-size: 2em;
} */

.alien {
  font-size: 3em;
  text-align: center;
}

.sobre, 
.contato,
.portfolio {
  padding: 3em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .menu ul,
  .sobre,
  .contato,
  .portfolio {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  margin-bottom: 1.5em;
  text-align: center;
}

.sobre h2:after,
.contato h2:after,
.portfolio h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: whitesmoke;
  background-color: lime;
  margin: 6px auto auto auto;
}


.sobre p {
  color: white;
  /* text-indent: 1.5em; */
  margin-bottom: 1.4em;
}

.sobre .avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 2.2em;
  /* margin-top: 1em; */
}

.sobre .img-sobre-zig {
  float: inline-start;
  margin-right: 1em;
  margin-left: -0.7em;
  margin-top: 0.5em;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 660px) {
  .portfolio .grid {
    grid-template-columns: repeat(2, 240px);
    justify-content: center;
  }
}

@media (min-width: 940px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
  .portfolio {
    height: 50vh;
  }
}

.portfolio figure {
  text-align: center;
}

.img-sobre {
  height: 210px;
  width: auto;
  clip-path: circle(50% at 50% 50%);
} 

.img-sobre-zig {
  height: 180px;
  width: 250px;
  clip-path: polygon(85% 0, 100% 50%, 85% 100%, 6% 100%, 6% 50%, 6% 0%);
}

@media (max-width: 650px) {
  .img-sobre {
    height: 0;
    width: 0;
  }
  
  .img-sobre-zig {
    height: 0;
    width: 0;
  }
  
}

.img-portfolio {
  height: 180px;
  width: 100%;
  object-fit: cover;
  /* object-position: bottom; */
  /* border-radius: 10%; */
  transition: transform 200ms;
}

/* .img-portfolio:active,
.img-portfolio:hover {
  transform: scale(1.1);
} */

figcaption {
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}

.flip-card {
  height: 180px;
  perspective: 600px;
}

/* .flip-card:active .card, */
.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-frente,
.card-tras {
  left: 0;
  top: 0;
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
}

.card-tras {
  background: gray;
  height: 180px;
  width: 100%;
  transform: rotateY(180deg);
}

.contato {
  min-height: 20vh;
}

.contato .grid_icons {
  display: grid;
  grid-template-columns: repeat(3, 75px);
  justify-content: space-around;
}

.contato a {
  color: whitesmoke;
  font-size: 75px;
  transition: text-shadow 150ms;
}

.contato a:active,
.contato a:hover {
  text-shadow: 0px 0px 5px lime;
}

@media (min-width: 560px) {
  .contato a {
    font-size: 100px;
  }
}

@media (min-width: 700px) {
  .contato a {
    font-size: 125px;
  }
}

@media (min-width: 900px) {
  .contato a {
    font-size: 150px;
  }
}

.footer {
  text-align: center;
  background-color: lime;
  padding: 10px 10px 10px 10px;
}

.footer a {
  color: black;
  text-decoration: underline;
}

.footer a:hover {
  color: lime;
  text-decoration: underline;
  background-color: black;
}